body {
    font-family: 'Poppins';font-size: 22px;
}
#pname{
    color: rgb(226, 116, 135);
    font-weight:bolder;
}
.button {
    background-image: linear-gradient(45deg, rgb(255, 125, 147),rgb(213, 59, 82));
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get the element to behave like an inline element but allow width/height */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Animation */
}

.button:hover {
    background-image: linear-gradient(45deg, rgb(227, 70, 96),rgb(213, 59, 82)); /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.button:active {
    background-color: rgb(213, 59, 82); /* Even darker green when clicked */
    transform: scale(0.95); /* Slightly shrink on click */
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: gray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
img{
    width: 100%;
}
.header{
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
section{
    height: 500px;
    margin-bottom: 100px;
    padding-bottom: 150px;
}
.dream{
    background-image: url(biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 80px;
}
#Biography{
    padding-top: 150px;
}
.image{
    width: 20%;
    float: left;
    margin: 40px;
    padding-left: 10px;
}
.peter{
    padding-left: 5%;
    margin-left: 150px;
    margin-top: 150px;
}
#latest-work{
    position: relative;
    left: 350px;
    font-size: 30px;
}
.foot{
    margin: 0px 200px;
    position: relative;
    left: 10%;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    background-image: url(footer-bg.png);
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
}